Simple Apriori Algorithm

Apriori is an Algorithm to finds Frequent itemset with support > minimum support. Support = Occurences.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Convert-Items-to-Number" data-toc-modified-id="Convert-Items-to-Number-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Convert Items to Number</a></span></li><li><span><a href="#Create-Dataframe-from-Numbered-Items" data-toc-modified-id="Create-Dataframe-from-Numbered-Items-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create Dataframe from Numbered Items</a></span></li><li><span><a href="#Creating-First-Candidate-(C1)" data-toc-modified-id="Creating-First-Candidate-(C1)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Creating First Candidate (C1)</a></span></li><li><span><a href="#Creating-first-Frequent-Itemset-(L1)" data-toc-modified-id="Creating-first-Frequent-Itemset-(L1)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Creating first Frequent Itemset (L1)</a></span></li><li><span><a href="#Create-the-Second-Candidate-(C2)" data-toc-modified-id="Create-the-Second-Candidate-(C2)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Create the Second Candidate (C2)</a></span></li><li><span><a href="#Creating-the-Third-Candidate-(C3)---Using-the-Candidate-Forming-Technique" data-toc-modified-id="Creating-the-Third-Candidate-(C3)---Using-the-Candidate-Forming-Technique-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Creating the Third Candidate (C3) - Using the Candidate Forming Technique</a></span></li><li><span><a href="#Self-Join" data-toc-modified-id="Self-Join-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Self Join</a></span></li><li><span><a href="#Pruning" data-toc-modified-id="Pruning-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Pruning</a></span></li><li><span><a href="#Creating-the-Third-Frequent-Itemset-(L3)" data-toc-modified-id="Creating-the-Third-Frequent-Itemset-(L3)-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Creating the Third Frequent Itemset (L3)</a></span></li><li><span><a href="#All-Frequent-Itemset" data-toc-modified-id="All-Frequent-Itemset-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>All Frequent Itemset</a></span></li><li><span><a href="#Final-Output-of-Freq.-Itemset-(L1-L3)" data-toc-modified-id="Final-Output-of-Freq.-Itemset-(L1-L3)-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Final Output of Freq. Itemset (L1-L3)</a></span></li></ul></div>

In [212]:

mydata = """

tid,  items
1,   "Handphone,Laptop"
2,   "Handphone,Charger,Laptop"
3,   "Powerbank,Laptop,Charger,Handphone"
4,   "Tablet,Laptop,Handphone"
5,   "Handphone,Charger,Tablet"
6,   "Tablet,Powerbank"
7,   "Handphone,Laptop,Tablet,Charger"
8,   "Charger,Handphone"
9,   "Handphone,Powerbank"
10,  "Laptop,Charger,Powerbank"

"""

In [213]:
import pandas as pd

In [214]:
dataset = pd.read_csv('dataset_apriori.csv')

In [215]:
dataset

   tid                               items
0    1                    Handphone,Laptop
1    2            Handphone,Charger,Laptop
2    3  Powerbank,Laptop,Charger,Handphone
3    4             Tablet,Laptop,Handphone
4    5            Handphone,Charger,Tablet
5    6                    Tablet,Powerbank
6    7     Handphone,Laptop,Tablet,Charger
7    8                   Charger,Handphone
8    9                 Handphone,Powerbank
9   10            Laptop,Charger,Powerbank

In [216]:
dataset.tid

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: tid, dtype: int64

In [217]:
dataset.items

<bound method DataFrame.iteritems of    tid                               items
0    1                    Handphone,Laptop
1    2            Handphone,Charger,Laptop
2    3  Powerbank,Laptop,Charger,Handphone
3    4             Tablet,Laptop,Handphone
4    5            Handphone,Charger,Tablet
5    6                    Tablet,Powerbank
6    7     Handphone,Laptop,Tablet,Charger
7    8                   Charger,Handphone
8    9                 Handphone,Powerbank
9   10            Laptop,Charger,Powerbank>

In [218]:
df_items = dataset['items']
df_tid = dataset['tid']

In [219]:
print(type(df_items))

<class 'pandas.core.series.Series'>

In [220]:
df_items

0                      Handphone,Laptop
1              Handphone,Charger,Laptop
2    Powerbank,Laptop,Charger,Handphone
3               Tablet,Laptop,Handphone
4              Handphone,Charger,Tablet
5                      Tablet,Powerbank
6       Handphone,Laptop,Tablet,Charger
7                     Charger,Handphone
8                   Handphone,Powerbank
9              Laptop,Charger,Powerbank
Name: items, dtype: object

In [221]:
df_tid

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: tid, dtype: int64

<h2>Convert Items to Number</h2>

In [222]:
dictionaries = {'Handphone': 1, 'Laptop': 2, 'Charger': 3, 'Powerbank': 4, 'Tablet': 5 }

In [223]:
type(df_items)

pandas.core.series.Series

In [224]:
comma_splitted_df = df_items.apply(lambda x: x.split(','))

In [225]:
comma_splitted_df

0                        [Handphone, Laptop]
1               [Handphone, Charger, Laptop]
2    [Powerbank, Laptop, Charger, Handphone]
3                [Tablet, Laptop, Handphone]
4               [Handphone, Charger, Tablet]
5                        [Tablet, Powerbank]
6       [Handphone, Laptop, Tablet, Charger]
7                       [Charger, Handphone]
8                     [Handphone, Powerbank]
9               [Laptop, Charger, Powerbank]
Name: items, dtype: object

In [226]:
numbered_col = []
for i in range(len(comma_splitted_df)):
    list_numbered = list(map(lambda x: dictionaries[x], comma_splitted_df[i]))
    sort_numbered = sorted(list_numbered)
    numbered_col.append(sort_numbered)

numbered_col

[[1, 2],
 [1, 2, 3],
 [1, 2, 3, 4],
 [1, 2, 5],
 [1, 3, 5],
 [4, 5],
 [1, 2, 3, 5],
 [1, 3],
 [1, 4],
 [2, 3, 4]]

<h2>Create Dataframe from Numbered Items</h2>

In [227]:
dict_data = {'items': numbered_col}

print(dict_data)

{'items': [[1, 2], [1, 2, 3], [1, 2, 3, 4], [1, 2, 5], [1, 3, 5], [4, 5], [1, 2, 3, 5], [1, 3], [1, 4], [2, 3, 4]]}

In [228]:
df = pd.DataFrame.from_dict(dict_data)
df

          items
0        [1, 2]
1     [1, 2, 3]
2  [1, 2, 3, 4]
3     [1, 2, 5]
4     [1, 3, 5]
5        [4, 5]
6  [1, 2, 3, 5]
7        [1, 3]
8        [1, 4]
9     [2, 3, 4]

In [229]:
pd.concat([df_tid, df], axis=1)

   tid         items
0    1        [1, 2]
1    2     [1, 2, 3]
2    3  [1, 2, 3, 4]
3    4     [1, 2, 5]
4    5     [1, 3, 5]
5    6        [4, 5]
6    7  [1, 2, 3, 5]
7    8        [1, 3]
8    9        [1, 4]
9   10     [2, 3, 4]

In [230]:
items = []
for i in range(len(df)):
    for j in range(len(df['items'][i])):
        items.append(df['items'][i][j])
items

[1,
 2,
 1,
 2,
 3,
 1,
 2,
 3,
 4,
 1,
 2,
 5,
 1,
 3,
 5,
 4,
 5,
 1,
 2,
 3,
 5,
 1,
 3,
 1,
 4,
 2,
 3,
 4]

<h2>Creating First Candidate (C1)</h2>

In [231]:
#Get unique element from list/array
unique_item = set(items)
unique_item

{1, 2, 3, 4, 5}

In [232]:
#Convert it to list
list_unique_item = list(unique_item)
list_unique_item

[1, 2, 3, 4, 5]

In [233]:
count_unique = []
for value in (list_unique_item):
    count_unique.append((value, items.count(value)))
count_unique

[(1, 8), (2, 6), (3, 6), (4, 4), (5, 4)]

In [234]:
candidate1_df = pd.DataFrame(count_unique, columns=["itemset", "sup"])

In [235]:
candidate1_df

   itemset  sup
0        1    8
1        2    6
2        3    6
3        4    4
4        5    4

<h2>Creating first Frequent Itemset (L1)</h2>

In [236]:
def filter_sup(candidate):
    minimum_sup = 2
    filtering = candidate['sup'] > minimum_sup
    freq = candidate[filtering]
    return freq

In [237]:
# filter_sup = candidate1_df['sup'] > minimum_sup
freq_itemset1 = filter_sup(candidate1_df)

In [238]:
freq_itemset1

   itemset  sup
0        1    8
1        2    6
2        3    6
3        4    4
4        5    4

## Create the Second Candidate (C2)
* Self join

In [239]:
import numpy
def self_join(prev_freq_itemset):
    self_join_candidate = []
    for i in range(len(prev_freq_itemset['itemset'])):
        for j in range((i+1), len(prev_freq_itemset['itemset'])):
            itemset_i = prev_freq_itemset['itemset'][i]
            itemset_j = prev_freq_itemset['itemset'][j]
            if(type(itemset_i) == numpy.int64 and type(itemset_j) == numpy.int64):
                itemset_i = {itemset_i}
                itemset_j = {itemset_j}
            union_candidate = itemset_i.union(itemset_j)

            if union_candidate not in self_join_candidate:
                self_join_candidate.append(union_candidate)
    return self_join_candidate

In [240]:
candidate2_list = self_join(freq_itemset1)

In [241]:
candidate2_list

[{1, 2},
 {1, 3},
 {1, 4},
 {1, 5},
 {2, 3},
 {2, 4},
 {2, 5},
 {3, 4},
 {3, 5},
 {4, 5}]

In [242]:
count_candidate2 = []

#Set the Initial value of Second Count Candidate (C2)
for i in range(len(candidate2_list)):
    count_candidate2.append((candidate2_list[i], 0))

count_candidate2

[({1, 2}, 0),
 ({1, 3}, 0),
 ({1, 4}, 0),
 ({1, 5}, 0),
 ({2, 3}, 0),
 ({2, 4}, 0),
 ({2, 5}, 0),
 ({3, 4}, 0),
 ({3, 5}, 0),
 ({4, 5}, 0)]

In [243]:
initial_df_candidate = pd.DataFrame(count_candidate2, columns=['itemset', 'sup'])

In [244]:
initial_df_candidate

  itemset  sup
0  {1, 2}    0
1  {1, 3}    0
2  {1, 4}    0
3  {1, 5}    0
4  {2, 3}    0
5  {2, 4}    0
6  {2, 5}    0
7  {3, 4}    0
8  {3, 5}    0
9  {4, 5}    0

In [245]:
#Let's see what's inside df
df

          items
0        [1, 2]
1     [1, 2, 3]
2  [1, 2, 3, 4]
3     [1, 2, 5]
4     [1, 3, 5]
5        [4, 5]
6  [1, 2, 3, 5]
7        [1, 3]
8        [1, 4]
9     [2, 3, 4]

In [246]:
#Let's add it with 1 whenever we found every candidate is a subset from Database D


def count_support(database_dataframe, prev_candidate_list):
    initial_df_candidate['sup'] = 0 #set All value into 0 only for initial value for consistency value when running this cell everytime.
    count_prev_candidate = []

    #Set the Initial value of Previous Candidate
    for i in range(len(prev_candidate_list)):
        count_prev_candidate.append((prev_candidate_list[i], 0))
    
    df_candidate = pd.DataFrame(count_prev_candidate, columns=['itemset', 'sup'])
    print('Database D dataframe\n', database_dataframe)
    print('(Initial) Dataframe from Candidate with All zeros sup\n', df_candidate)
    
    for i in range(len(database_dataframe)):
        for j in range(len(count_prev_candidate)):
            #using issubset() function to check whether every itemset is a subset of Database or not
            if (df_candidate['itemset'][j]).issubset(set(database_dataframe['items'][i])): 
                df_candidate.loc[j, 'sup'] += 1
            
    return df_candidate

In [247]:
count_candidate2_df = count_support(df, candidate2_list)

Database D dataframe
           items
0        [1, 2]
1     [1, 2, 3]
2  [1, 2, 3, 4]
3     [1, 2, 5]
4     [1, 3, 5]
5        [4, 5]
6  [1, 2, 3, 5]
7        [1, 3]
8        [1, 4]
9     [2, 3, 4]
(Initial) Dataframe from Candidate with All zeros sup
   itemset  sup
0  {1, 2}    0
1  {1, 3}    0
2  {1, 4}    0
3  {1, 5}    0
4  {2, 3}    0
5  {2, 4}    0
6  {2, 5}    0
7  {3, 4}    0
8  {3, 5}    0
9  {4, 5}    0

In [248]:
count_candidate2_df

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 4}    2
3  {1, 5}    3
4  {2, 3}    4
5  {2, 4}    2
6  {2, 5}    2
7  {3, 4}    2
8  {3, 5}    2
9  {4, 5}    1

# Creating Second Frequent Itemset (L2)

In [249]:
#Filter the itemset based on minimum support (occurences of items)
freq_itemset2 = filter_sup(count_candidate2_df)

In [250]:
freq_itemset2

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
3  {1, 5}    3
4  {2, 3}    4

In [251]:
freq_itemset2_reset = freq_itemset2.reset_index(drop=True)

In [252]:
#We need to reset the index, because need to access the index later.
freq_itemset2_reset

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4

## Creating the Third Candidate (C3) - Using the Candidate Forming Technique
* Self join
* Pruning

## Self Join

In [253]:
print(freq_itemset2_reset)
self_join_result = self_join(freq_itemset2_reset)
print('self join result')
print(self_join_result)

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
self join result
[{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}]

## Pruning

In [254]:
def get_subset(candidate):
    temp = []
    final = []
    for i in range(len(candidate)):
        for j in range(len(candidate)):
            if i != j:
                temp.append(candidate[j])
        temp_set = set(temp)
        final.append(temp_set)
        temp.clear()
    print('Subset from {} : {}'.format(candidate, final))
    return final

def pruning(candidate_set, prev_freq_itemset):
    print('Candidate set', candidate_set)
    temp = []
    
    for idx, value in enumerate(candidate_set):
        list_candidate = list(value)
        temp_candidate = (get_subset(list_candidate))
        
        for temp_item in temp_candidate:
            print('Temp item', temp_item)
            check = temp_item == prev_freq_itemset['itemset']
            print('\nCheck candidate from Previous Frequent Itemset\n', check)
            
            if any(check) == False:
                print(any(check))
                print('Val', value)
            else:
                print('\nAll of {} subset contained in \n{}'.format(candidate_set, prev_freq_itemset))
                if value not in temp:
                    temp.append(value)
                
    return temp

In [255]:
freq_itemset2_reset

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4

In [256]:
subset = [{2, 3}, {1, 3}, {1, 2}]

In [257]:
self_join_result

[{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}]

In [258]:
for i in range(len(self_join_result)):
    get_subset(list(self_join_result[i]))

Subset from [1, 2, 3] : [{2, 3}, {1, 3}, {1, 2}]
Subset from [1, 2, 5] : [{2, 5}, {1, 5}, {1, 2}]
Subset from [1, 3, 5] : [{3, 5}, {1, 5}, {1, 3}]
Subset from [1, 2, 3, 5] : [{2, 3, 5}, {1, 3, 5}, {1, 2, 5}, {1, 2, 3}]

In [259]:
freq_itemset2_reset

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4

In [260]:
for item in subset:
    print(item)
    check = item == freq_itemset2_reset['itemset']
    print('Check', any(check))

{2, 3}
Check True
{1, 3}
Check True
{1, 2}
Check True

In [261]:
self_join_result

[{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}]

In [262]:
candidate3_list = pruning(self_join_result, freq_itemset2_reset)

Candidate set [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}]
Subset from [1, 2, 3] : [{2, 3}, {1, 3}, {1, 2}]
Temp item {2, 3}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3     True
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Temp item {1, 3}

Check candidate from Previous Frequent Itemset
 0    False
1     True
2    False
3    False
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Temp item {1, 2}

Check candidate from Previous Frequent Itemset
 0     True
1    False
2    False
3    False
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Subset from [1, 2, 5] : [{2, 5}, {1, 5}, {1, 2}]
Temp item {2, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3    False
Name: itemset, dtype: bool
False
Val {1, 2, 5}
Temp item {1, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2     True
3    False
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Temp item {1, 2}

Check candidate from Previous Frequent Itemset
 0     True
1    False
2    False
3    False
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Subset from [1, 3, 5] : [{3, 5}, {1, 5}, {1, 3}]
Temp item {3, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3    False
Name: itemset, dtype: bool
False
Val {1, 3, 5}
Temp item {1, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2     True
3    False
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Temp item {1, 3}

Check candidate from Previous Frequent Itemset
 0    False
1     True
2    False
3    False
Name: itemset, dtype: bool

All of [{1, 2, 3}, {1, 2, 5}, {1, 3, 5}, {1, 2, 3, 5}] subset contained in
  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
2  {1, 5}    3
3  {2, 3}    4
Subset from [1, 2, 3, 5] : [{2, 3, 5}, {1, 3, 5}, {1, 2, 5}, {1, 2, 3}]
Temp item {2, 3, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3    False
Name: itemset, dtype: bool
False
Val {1, 2, 3, 5}
Temp item {1, 3, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3    False
Name: itemset, dtype: bool
False
Val {1, 2, 3, 5}
Temp item {1, 2, 5}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3    False
Name: itemset, dtype: bool
False
Val {1, 2, 3, 5}
Temp item {1, 2, 3}

Check candidate from Previous Frequent Itemset
 0    False
1    False
2    False
3    False
Name: itemset, dtype: bool
False
Val {1, 2, 3, 5}

In [263]:
candidate3_list

[{1, 2, 3}, {1, 2, 5}, {1, 3, 5}]

<h2>Creating the Third Frequent Itemset (L3)</h2>

In [264]:
#Let's see the database again
df

          items
0        [1, 2]
1     [1, 2, 3]
2  [1, 2, 3, 4]
3     [1, 2, 5]
4     [1, 3, 5]
5        [4, 5]
6  [1, 2, 3, 5]
7        [1, 3]
8        [1, 4]
9     [2, 3, 4]

In [265]:
#Then check the newest candidate value
candidate3_list

[{1, 2, 3}, {1, 2, 5}, {1, 3, 5}]

In [266]:
count_candidate3_df = count_support(df, candidate3_list)

Database D dataframe
           items
0        [1, 2]
1     [1, 2, 3]
2  [1, 2, 3, 4]
3     [1, 2, 5]
4     [1, 3, 5]
5        [4, 5]
6  [1, 2, 3, 5]
7        [1, 3]
8        [1, 4]
9     [2, 3, 4]
(Initial) Dataframe from Candidate with All zeros sup
      itemset  sup
0  {1, 2, 3}    0
1  {1, 2, 5}    0
2  {1, 3, 5}    0

In [267]:
count_candidate3_df

     itemset  sup
0  {1, 2, 3}    3
1  {1, 2, 5}    2
2  {1, 3, 5}    2

In [268]:
freq_itemset3 = filter_sup(count_candidate3_df)

In [269]:
freq_itemset3

     itemset  sup
0  {1, 2, 3}    3

## All Frequent Itemset

In [270]:
#Let'see each frequent itemset (L)
freq_itemset1

   itemset  sup
0        1    8
1        2    6
2        3    6
3        4    4
4        5    4

In [271]:
freq_itemset2

  itemset  sup
0  {1, 2}    5
1  {1, 3}    5
3  {1, 5}    3
4  {2, 3}    4

In [272]:
freq_itemset3

     itemset  sup
0  {1, 2, 3}    3

In [273]:
frequent_itemset = pd.concat([freq_itemset1, freq_itemset2, freq_itemset3], axis=0)

In [274]:
frequent_itemset

     itemset  sup
0          1    8
1          2    6
2          3    6
3          4    4
4          5    4
0     {1, 2}    5
1     {1, 3}    5
3     {1, 5}    3
4     {2, 3}    4
0  {1, 2, 3}    3

In [275]:
#Reset the index
frequent_itemset_final = frequent_itemset.reset_index(drop=True)

## Final Output of Freq. Itemset (L1-L3)

In [276]:
frequent_itemset_final

     itemset  sup
0          1    8
1          2    6
2          3    6
3          4    4
4          5    4
5     {1, 2}    5
6     {1, 3}    5
7     {1, 5}    3
8     {2, 3}    4
9  {1, 2, 3}    3